
<h1></h1>
<a href="/">Logoff</a>
<a href="/Home/navToDashboard">Bright Ideas</a>
<br><br>



<p>Name : @ViewBag.userDet.Name</p>
<p>Alias: @ViewBag.userDet.Alias</p>
<p>Email: @ViewBag.userDet.Email</p>

<p>____________________________________________</p>

<p>Total Number of Posts :@ViewBag.userDet.Ideas.Count </p>
<p>Total Number of Likes :@ViewBag.userDet.Likes.Count </p>
 